.carousel-wrapper {
  transition: transform 0.5s ease;
}

.carousel-bar div {
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-bar div.active {
  background-color: #1e40af;
  transform: scale(1.2);
}

.carousel-container {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.carousel-item {
  cursor: pointer;
}

.description-wrapper p {
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .description-wrapper p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .description-wrapper p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .description-wrapper p {
    font-size: 1.25rem;
  }
}

.carousel-item .description-wrapper {
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .carousel-item .description-wrapper {
    padding: 0.75rem;
  }
}

@media (min-width: 768px) {
  .carousel-item .description-wrapper {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .carousel-item .description-wrapper {
    padding: 1.25rem;
  }
}
